html,
body {
 background-color: rgb(255, 255, 255);
}

#canvas {
    width: 550px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
}
#block_null {
    float: left;
    
    width: 36px;
    height: 50px;
    background-color: white;
}
#block1 {
    background-color: rgb(255, 255, 255);
    height: 560px;
    text-align: center;
    float: left;
    width: 180px;
    border-left: 20px solid #b5838d;
    border-top: 20px solid #b5838d;
    border-bottom: 20px solid #b5838d;
    border-radius: 50px 0px 0px 50px;
    
}
#block2 {
    background-color: rgb(255, 255, 255);
    height: 600px;
    text-align: center;
    width: 65%;
    float: right;
    
    
}
#block3 {
    background-color: rgb(255, 255, 255);
    height: 560px;
    text-align: center;
    float: left;
    width: 180px;
    border-top: 20px solid #b5838d;
    border-right: 20px solid #b5838d;
    border-bottom: 20px solid #b5838d;
    border-radius: 0px 50px 50px 0px;
}

.math_format{
    background-color: aliceblue;
    height: 90px;
    width: 90px;
    margin-left: auto;
    margin-top: 18px;
    margin-right: auto;
}
.math{
    background-color: #ffffff;
    height: 55px;
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    font-size: 50px;
    color:#6d6875;
    border-top: 5px solid #b5838d;
    border-left: 5px solid #b5838d;
    border-right: 5px solid #b5838d;
    border-radius: 50px 50px 0px 0px;
}
.strip{
    height: 17px;
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #b5838d;
}
.bar{
    height: 20px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    
}
.name{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 40px;
    color:#6d6875;
    border: 5px solid #b5838d;
    border-radius: 35px;
}
.img{
    height: 350px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #b5838d;
    border: 20px solid #b5838d;
    border-radius: 35px;
}
.reset{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 40px;
    color:#6d6875;
    border: 5px solid #b5838d;
    border-radius: 35px;
}

.btn-clear {
    font-size: 40px;
    color:#6d6875;
    all: unset;
}

.btn-clear:hover,
.btn-clear:focus,
.btn-clear:active,
.btn-clear.active,
.open .dropdown-toggle.btn-clear {
    color: #FFFFFF;
    background-color: #b5838d;
    border-color: #130269;
}

.btn-clear:active,
.btn-clear.active,
.open .dropdown-toggle.btn-clear {
    background-image: none;
}

.btn-clear.disabled,
.btn-clear[disabled],
fieldset[disabled] .btn-clear,
.btn-clear.disabled:hover,
.btn-clear[disabled]:hover,
fieldset[disabled] .btn-clear:hover,
.btn-clear.disabled:focus,
.btn-clear[disabled]:focus,
fieldset[disabled] .btn-clear:focus,
.btn-clear.disabled:active,
.btn-clear[disabled]:active,
fieldset[disabled] .btn-clear:active,
.btn-clear.disabled.active,
.btn-clear[disabled].active,
fieldset[disabled] .btn-clear.active {
    background-color: #6F38C5;
    border-color: #130269;
}

.btn-clear .badge {
    color: #6F38C5;
    background-color: #FFFFFF;
}

.lds-ring {
    display: inline-block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.75);
    z-index: 999;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: calc(50vh - 32px);
    left: calc(50vw - 32px);
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #6F38C5;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #6F38C5 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
